body {
    padding: 1rem;
    width: 11rem;
    height: 11rem;
}

.form {
    padding-left: 0.25rem;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-left: 3.5rem;
    margin-bottom: 1rem;
}

/* Removes Highlight*/

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}